.Sla a{  /*Define css das tags <a>*/
text-align: center; /*Texto alinhado ao centro*/
text-decoration: none; /*Sem decoração de texto, tira sublinhamento dos links*/
color: black; /*Cor do texto: preta*/
font-size: large; /*Tamanho de fonte larga*/
}
.Sla a:hover{ /*css para tags <a> quando mouse estiver em cima*/
color: brown; /*Cor vermelha*/
}

.icone { /*Definindo ícones*/

    width: 25px; /*Lergura*/
    height: 25px; /*Altura*/
    margin-left:30px; /*Posicionando 30 pixels para a direita*/
    background-size: cover; /*Tamanho do fundo, cover = 100%*/
    display: inline-table; /*Função semelhante ao float left, carrega os fundos no elemento*/
}

/* Definindo as imagens de fundo para os ícones*/
.face {
    background-image: url(img/Face.png);
}

.email{
    background-image: url(img/índice.jpg);

}

.twitter{
    background-image: url(img/índice2.jpg);

}

.Esc{
    background-image: url(img/isso.png);

}

